<html>
  <head>

  </head>
  <body>
    {% include "header.html" %}
    <div>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

</div>
    <h3>Categories</h3>
    {% for c in categories %}
      <a href="{{url_for('categoryItems', category_name = c.name)}}">{{c.name}}</a>
      <br/>
    {% endfor %}
      <br/>
      <h3>Latest items</h3>
      <a href="{{url_for('newItem')}}"> Add Item </a>
      <br/>
      {% for l in latestItems %}
        <a href="{{url_for('itemDescription', category_name = l.category.name, item_name =l.name)}}">{{l.name}}</a> ({{l.category.name}})
        <br/>
      {% endfor %}
  </body>
</html>
