<html>
  <head>

  </head>
  <body>
    {% include "header.html" %}
    <h3>categories</h3>
    {% for c in categories %}
      <a href="{{url_for('categoryItems', category_name = c.name)}}">{{c.name}}</a>
      <br/>
    {% endfor %}
    <br/>
    {{category.name}} Items ({{items|length}} items)
    <br/>
    {% for i in items %}
      <a href="{{url_for('itemDescription', category_name = i.category.name, item_name =i.name)}}">{{i.name}}</a> ({{i.category.name}})
      <br/>
    {% endfor %}
    <br/>
  </body>
</html>
